<h1>Expenso</h1>
<p>An app to keep tracks of your expense.</p>
<%= link_to "Create New Expense", new_expense_path %>

<%= button_to "logout", destroy_user_session_path, method: :delete  %>
<ol>
<% @expenses.each do |x| %>
  Expense Id:  <%= x.id %>

  Expense Category : <%= Category.find(x.category_id).category %>

  User Id: <%= x.user_id %>

  Expense Amount: <%= x.amount %>

  Expense Date: <%= x.date %>
  <br>
<%= button_to "Destroy", expense_path(x.id), method: :delete  %>
<% end %>
</ol>

